{
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "es5",
	"semi": true,
	"singleQuote": false,
	"printWidth": 100,
	"overrides": [
		{
			"files": ["*.yaml", "*.yml"],
			"options": {
				"tabWidth": 2,
				"useTabs": false,
				"singleQuote": false
			}
		},
		{
			"files": ["Dockerfile"],
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
